
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #00fff7;
}
* {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: 'Poppins',Sans-Serif;
  text-decoration: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 0 0.5rem 0 0.5rem;
  align-items: center;
  left: 0;
  right: 0;
  position: fixed;
  justify-content: space-between;
  z-index: 999;
  border-bottom: 2px solid var(--primary);
  box-shadow: 0 0 20px var(--primary);
    
}
.Navbar h1 {
  color: #fff;
}
.Navbar span {
  color:#349cf4;
}
#Hmenu {
  display: none;
  font-size: 3rem;
  color: #fff;
}
#hamburger-menu {
  position: fixed;
  right: 1%;
}

@media (max-width: 768px) {
  .Navbar .Menu {
   position: absolute;
   right: -100%;
   background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  width: 12rem;
  height: 100vh;
  top: 100%;
  transition: right 0.3s ease-in-out; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  gap: 1rem;
  z-index: 9; 
  
  }
  .Navbar .Menu.active {
  right: 0;
  color: black;
  }
  
  #Hmenu {
    display: block;
  }
}